 <div ng-controller='appCtrl'>
 Usuario logueado con perfil completo. <br><br>
                  Este es el area de trabajo.<br><br>
                  <pre ng-model='box' data-box></pre>
                  <br>
                  <a href="#" data-api-me>Quien soy?</a>&nbsp;&nbsp;
                  <a href="#" data-api-organizaciones>Mis organizaciones</a>&nbsp;&nbsp;
                  <a href="#" data-api-crea-org>Creemos una organizacion</a>&nbsp;&nbsp;
   		 		  <a href="http://localhost:8080/auth/salir">Salir</a>

   		 		</div>